html{

	/*primary-Colors*/
	--color-primary-brightcoral:	#F53240;
	--color-primary-golden:			#F9BE02;
	--color-primary-sky:			#75DBD5;
	/*grey-Colors*/
	--color-grey-lightgrey:			#575752;
	--color-grey-primary-grey:		#32322C;
	--color-grey-drak-grey:			#2E2E28; /*primary Text color */
	/*bright coral-variables*/
	--color-variables-light-coral:	#F54451;
	--color-variables-dark-coral:	#C92935;
	/*golden color-variables*/
	--color-variables-light-golden:	#FAC930;
	--color-variables-dark-golden:	#CC9C02;
	/*sky color-variables*/
	--color-variables-light-sky:	#8EE1DC;
	--color-variables-dark-sky:		#60B4AF;
	/*sky color-variables*/
	--color-variables-light-grey:	#8F8F8B;
	--color-variables-warm-grey:	#C7C7C5; /*Primary Text color on dark background */
	--color-variables-smoke-grey:	#ECECEB;
	/*background colors*/
	--color-variables-smoke-white:	#FEFEFC; /* body background color */ 
	--color-variables-white:		#FFFFFF; /* element background color */

	
	
	/*Fonts*/
	--font-primary:		'Raleway', Arial ,sans-serif; 
	--font-secondary:	'Oswald', Arial ,sans-serif;

}

/* ==========================================================================
   Typography
   ========================================================================== */
   
html{
	color: var( --color-grey-drak-grey ); /* #2E2E28 */
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;


 /* Ratios */
	--ratio: 1.61;
	--size-xxxlarge:	calc( 1rem * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) ); 
	--size-xxlarge:		calc( 1rem * var(--ratio) * var(--ratio) * var(--ratio) );
	--size-xlarge:		calc( 1rem * var(--ratio) * var(--ratio) );
	--size-large: 		calc( 1rem * var(--ratio) );
	--size-small:		var(--ratio);
	--size-xsmall:		calc( 1rem * ( var(--ratio) / 2) );


	/*--ratio: 1.50;

	--size-three:		calc( var(--size-two) * var(--ratio) ); /*h3* 2.25rem
	--size-two: 		calc( 1rem * var(--ratio) );
	--size-one:			var(--ratio);*/
	

}

body {
	background-color: var( --color-variables-smoke-white ); /*to-do add bacound color #FEFEFC */
}

a {
	color: var( --color-variables-light-coral );
	font-family: var(--font-primary);
}

a:hover , a:focus {
   	text-decoration: underline;
}

a:active { 
   text-decoration: underline; /* wanted to zoom/scale */
   transform: scale(1.1); 
   
}
 
a:visited {
    color: var( --color-variables-light-golden);
}


/*For large Screens*/

.large-headings-styles {
	border-radius: 12px;
	background-color: var( --color-variables-white ); /*#FFFFFF*/
	box-shadow: 0 0 3.1px var( --color-variables-light-grey );
	margin-bottom: 0.7em;
	padding: 0.1rem 0;
}

 h1 ,  h2 , h3 ,  h4 ,  h5 , h6 {
	font-family: var(--font-secondary);
	margin: 0.2em 0 0.1em;
	text-transform: none;
}

.large-headings-styles figure {

	text-transform: none;

}

.large-headings-styles h1+h2 {
	/*margin-top: 1em;*/
}

h3,h4,h5,h6 {
	color: var(--color-grey-primary-grey);
}

h1,h2,h3 {
	font-weight:300;
}

h4,h5,h6 {
	font-weight:400;
}

h1 {
	color: var( --color-variables-light-coral );
 	font-size: var( --size-xxxlarge ) ;
 	line-height: 0.9;
 	letter-spacing: -0.01rem;
 	margin: 0.25em 0 0.1em;
}
 
h2 { 
	color:	var( --color-primary-sky );
 	font-size: var( --size-xxlarge) ; /*4.236rem;*/
 	line-height: 1.05;
 	letter-spacing: 0.05rem;
 	text-shadow: 0.5px 0.5px 0.8px var( --color-variables-light-sky );
 	
}

h3 {
 	font-size: var( --size-xlarge ) ; 
 	/*font-family: var(--font-secondary);*/
 	line-height: 1.3;
 	letter-spacing: -0.05rem;
 	  
}

 h4 {
 	font-size: var( --size-large ) ; 
 	line-height: 1.2;
 	letter-spacing: 0.01rem;
}

 h5 {
 	font-size: var( --size-small ) ;
 	line-height: 1.4;
 	letter-spacing: 0.019rem;
 	
}

 h6 {
 	font-size: var( --size-xsmall ) ;
 	line-height: 1.4;
 	letter-spacing: 0.019rem;
 	margin-bottom: 0.1em;

}

.large-headings-styles span {
	font-weight:200;
	font-size: var( --size-xsmall );
	padding-bottom:0.7rem;
	text-transform: none;
	 
}

.header-description {
	border-top: 1px solid var(--color-primary-sky);
	margin-top: 0.65rem;
	text-transform: none;
	width: 109px; /*var( --size-xxxlarge ) */
	
}

/*For Mobile Screens*/

.small-headings-styles {
	border-radius: 12px;
	background-color: var( --color-variables-white ); /*#FFFFFF*/
	box-shadow: 0px 0px 3.1px var( --color-variables-light-grey );
	margin-bottom: 0.7em;
	padding: 0.1rem 0px;
}


/*.small-headings-styles h1,h2,h3,h4,h5,h6 {

	font-family: var(--font-secondary);
	margin: 0.7em 0 0.1em;
	text-transform: none;
}
.small-headings-styles h3,h4,h5,h6 {
	color: var(--color-grey-primary-grey);
}
.small-headings-styles  h1,h2,h3 {
	font-weight:300;
}
.small-headings-styles  h4,h5,h6 {
	font-weight:400;
}

.small-headings-styles h1{
	/*background-color: var( --color-variables-light-golden );
	color: var( --color-variables-light-coral );
 	font-size: var( --size-xxxlarge ) ;
 	/*font-weight: 300;
 	line-height: 1.03;
 	letter-spacing: -0.01rem;
 	margin: 0.25em 0 0.1em;
}
.small-headings-styles h2{
	color:	var( --color-primary-sky );
 	font-size: var( --size-xxlarge) ; /*4.236rem;*/
 	/*font-weight: 300;
 	line-height: 1.05;
 	letter-spacing: 0.05rem;
 	text-shadow: 0.5px 0.5px 0.8px #8EE1DC;
 	/*margin-bottom: 0.1em;
}
.small-headings-styles h3{
	/*color: var(--color-grey-primary-grey);
 	font-size: var( --size-xlarge ) ; 
 	font-family: var(--font-secondary);
 	/*font-weight:300;
 	line-height: 1.3;
 	letter-spacing: -0.05rem;
 	/*margin-bottom: 0.1em;  
}
.small-headings-styles h4{
	/*color: var(--color-grey-primary-grey);*/
	/*font-family: var( --font-secondary );
 	font-size: var( --size-large ) ; 
 	/*font-weight:400;
 	line-height: 1.2;
 	letter-spacing: 0.01rem;
 	/*margin-bottom: 0.1em;
}
.small-headings-styles h5{
	/*color: var(--color-grey-primary-grey);
	/*font-family: var( --font-secondary );
 	font-size: var( --size-small ) ;
 	/*font-weight:400;
 	line-height: 1.4;
 	letter-spacing: 0.019rem;
 	/*margin-bottom: 0.1em;

}
.small-headings-styles h6{
	/*color: var(--color-grey-primary-grey);
	/*font-family: var( --font-secondary );
 	font-size: var( --size-xsmall ) ;
 	/*font-weight:400;
 	line-height: 1.4;
 	letter-spacing: 0.019rem;
 	margin-bottom: 0.1em;

}

.small-headings-styles span{
	font-weight:200;
	font-size: var( --size-xsmall );
	padding-bottom:0.7rem;
	text-transform: none;
	 
}*/

/*Featured Copy*/

.featured-copy-styling , .normal-copy-styling , .tertiary-copy-styling {
    border-radius: 12px;
	background-color: var( --color-variables-white ); /*#FFFFFF*/
	box-shadow: 0px 0px 3.1px var( --color-variables-light-grey );
	margin: 0.7em 0 0.7em;
	padding: 0.65rem 0 0.65rem;
}

.featured-copy-styling h3 , .normal-copy-styling h3 , .tertiary-copy-styling h3{
	color: var(--color-primary-sky);
    font-size: var(--size-large);
    font-weight: 300;
    line-height: 1.05;
    margin: 0 0em 0.1em 1.5em;
    text-shadow: 0.5px 0.5px 0.8px var( --color-variables-light-sky );
        
 }

 .featured-copy-styling figure , .normal-copy-styling figure , .tertiary-copy-styling figure {

 	text-transform: none;
 }

.featured-copy {
    color: var( --color-grey-primary-grey );
    font-size: var( --size-large );
    font-weight: 300;
    /*font-style: italic;*/
    line-height: 1.5;
    margin: -0.25em 0 0.1em;
}

/*normal body for paragaraph*/

.normal-copy {

	color: var( --color-grey-primary-grey );
    font-size: var( --size-small );
    font-weight: 300;
    /*font-style: italic;*/
    line-height: 1.5;
    margin: -0.39em 0 0.1em;

}

.tertiary-copy {

	color: var( --color-grey-primary-grey );
    font-size: var( --size-xsmall );
    font-weight: 400;
    /*font-style: italic;*/
    line-height: 1.5;
    margin: -0.5em 0 0.1em;

}

/*blokequote*/
.blockquote-stylings {
	background: url("images/quotes.svg") 15% 14% no-repeat;   
	background-size: 2.5em;
	border-radius: 12px;
	background-color: var( --color-variables-white ); /*#FFFFFF*/
	box-shadow: 0px 0px 3.1px var( --color-variables-light-grey );
	margin: 0.7em 0 0.7em;
	padding: 10px 0 10px;

}

.blockquote-stylings figure {

	text-transform: none;
	
}

.blockquote-stylings p {
	font-weight: 400;
	line-height: 1.9;
	margin-top: 2em;
    padding-top: 2.4em;
	text-decoration: overline;
	text-decoration-color: var( --color-primary-brightcoral ); 
	text-decoration-skip: edges ;
}

.blockquote-stylings path {

	fill: var( --color-variables-light-coral ) ;
}

.list-stylings { 
	/*background: url(images/coffeebeans.svg) 10% 15% no-repeat;
	background-size: 40px;*/
	border-radius: 12px;
	background-color: var( --color-variables-white ); /*#FFFFFF*/
	box-shadow: 0px 0px 3.1px var( --color-variables-light-grey );
	font-family: var(--font-primary );
	margin: 0.7em 0 0.7em;
	padding: 10px 0 10px;

}

.list-stylings figure {

	text-transform: none;
}

.list-stylings h3 {
	color: var( --color-variables-light-coral );
	font-family: var(--font-secondary );
    font-size: var(--size-large);
    font-weight: 300;
    margin: 0 0em 0.1em;
    text-shadow: 0.5px 0.5px 0.8px var( --color-primary-brightcoral );
    text-transform: capitalize;
}

.list-stylings ol , ul {
	font-family: var(--font-primary );
	
}
.list-stylings ul {
	list-style-image: url("images/coffeebeans.svg");

}




/* ==========================================================================
   Header Component
   ========================================================================== */

.site-header-logo {
	color: var(--color-variables-dark-sky);
	font-family: var(--font-secondary);
    font-weight: 400;
    font-size: var(--size-xlarge);
}

.site-header {
	background-color:  var( --color-variables-light-golden ); /*#FAC930*/
	padding: 2rem;
}

.site-header-nav a, .site-header-nav a:visited {
	color: var( --color-variables-light-coral );
	text-decoration: none;
}

.site-header-nav {
	margin: 0;
	padding: 0;   
}

.site-header-nav li {
	font-family: var( --font-primary ); /*'Raleway', Arial ,sans-serif;*/
	font-weight: 500;
	list-style-type:none;
	padding-left: 0;
}

.site-header-nav li a {
	display:block; 
	max-width: 15rem;
	padding:0.7rem; 
	text-decoration: none;
}

.site-header-nav li a:hover ,.site-header-nav li a:focus {
	background-color: var( --color-variables-light-coral ) ; 
	border: 1px solid  var( --color-variables-light-coral );
	border-radius: 10px;
	color: var( --color-variables-light-golden );
	font-weight: 500; /*didt download 600 but wanted to show for hover effect how to solve this */
	
} 

.site-header-nav li a:active { 
	text-decoration: underline;
	
}
/* Style the active class buttons */

.current-page {
 /* background-color: var( --color-variables-light-coral ) ; /*#F54451*/
  border: 1px solid  var( --color-variables-light-coral );
  border-radius: 10px;
  color: var( --color-variables-light-coral ); /*#ECECEB*/
  padding: 15px 16px;
}



/* ==========================================================================
   Footer Component
   ======================================================================== */

 .site-footer{ 
   	background-color: var( --color-grey-primary-grey ); /*#32322C*/
   	color: var( --color-variables-warm-grey );/*#C7C7C5*/
	padding: 2rem;

 }

 .site-footer a , .site-footer a:visited {
 	color: var( --color-variables-light-coral );
   	text-decoration: none;
 }

.site-footer a:hover {
   	background-color: var( --color-variables-light-coral ) ; 
	border: 1px solid  var( --color-variables-light-coral );
	border-radius: 5px;
	color: var( --color-grey-primary-grey );
	font-weight: 600;
 }

.site-footer a:focus {
   	background-color: var( --color-variables-light-coral ) ; 
	border: 1px solid  var( --color-variables-light-coral );
	border-radius: 5px;
	color: var( --color-grey-primary-grey );
	font-weight: 600;
  }

.site-footer a:active {
	background-color: var( --color-variables-light-coral ) ; 
	border-radius: 5px;
	color: var( --color-grey-primary-grey );
	font-weight: 600;
  	transform: scale(1.1); 
  }

.site-footer-nav {
	margin: 0;
	overflow: hidden;
	padding: 0;   
}

.site-footer-nav li {
	float:left;
	list-style-type:none;
	padding-left: 0;
}

.site-footer-nav li a {
	display:block; 
	padding:0.5rem; 
	text-decoration: none;
}

.site-footer-nav a:hover {
	background-color: var( --color-variables-light-coral ) ; 
	border-radius: 5px;
	color: var( --color-grey-primary-grey );
	font-weight: 600;
} 

.site-footer-nav a:focus {
	background-color: var( --color-variables-light-coral ) ; 
	border-radius: 5px;
	color: var( --color-grey-primary-grey );
	font-weight: 600;
} 

.site-footer-nav a:active {
	background-color: var( --color-variables-light-coral ) ; 
	border-radius: 5px;
	color: var( --color-grey-primary-grey );
	font-weight: 600;
  	transform: scale(1.1); 

}

/* ==========================================================================
   figure Component 
   ======================================================================== */
figure {
  font-family: var( --font-secondary );
  text-transform: uppercase;
}

figure svg {
  font-family: var( --font-primary );
  text-transform: uppercase;
}
/* ==========================================================================
   Home page description list
   ======================================================================== */

dl {
	font-family: var(--font-primary );
}

/* ==========================================================================
    styles page  typeface 
   ======================================================================== */


p {
	/*background-color: var( --color-variables-smoke-grey );*/
	font-family: var(--font-primary );
}

.primary-typeface h2 {

	font-family: var(--font-primary);
	margin:0.01em 0 0.16em;
}

.primary-typeface h5 , .secondary-typeface h5 {
	color: var( --color-grey-darkgrey );
	font-family: var(--font-primary);
	text-transform: capitalize;
}

.secondary-typeface h2 {
	font-family: var( --font-secondary );
	margin:0.01em 0 0.16em;
}

.heading-divider {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-primary-sky);
}

/* SVG */

.color-swatch rect {
	box-shadow: 5px 5px 5px red;
}

.icon-circle{ /* i didt work with the when added */

	stroke: var( --color-variables-light-coral ) ;
	sroke-width: 2;
}
.icon-shape{

	fill: var( --color-variables-light-coral ) ;

}

.text-underline { /*wanted to add heading divider to all h2 buting the width is casing the problem*/
	padding-bottom: 10px;
	border-bottom: 1.5px solid var( --color-primary-sky ); 
	box-shadow: 0px 1.5px var( --color-variables-light-sky );
	width:109px;
}

/* ==========================================================================
    Button Links
   ======================================================================== */

.hero-button-example figcaption {
	display:block;
}

.hero-button-example a {
	text-transform: none;
}

.hero-button , .hero-button:visited  {
    border-radius: 3px;
    color: var( --color-primary-brightcoral ); /*var( --color-primary-sky );*/
    display: inline-block;
    font-family: var( --font-secondary ); /*'Oswald', Arial ,sans-serif;*/
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    height: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: 0.09em;
    margin-left: 2em;
    margin-top: 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    padding: 0 1rem;
    width: 45%;
    z-index: 1;
}
 
.hero-button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 0.0625rem;
	border-bottom-width: 0.0625rem;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(245,68,81,0.7);
	border-bottom-color: rgba(245,68,81,0.7);
	transform: scale(0.1, 1);

}
.hero-button:hover , .hero-button.hoverd , .hero-button:focus , .hero-button.focused {
	
	letter-spacing: 5px;
	text-decoration: none;
	/*z-index: 1;*/
}
.hero-button:hover::before , .hero-button.hoverd::before {
	
	opacity: 1;	
	transform: scale(1, 1);	
}

.hero-button:hover::after ,  .hero-button.hoverd::after{
	opacity: 0;	
	transform: scale(0.1, 1);
}

.hero-button:focus::before , .hero-button.focused::before {
	
	opacity: 1;	
	transform: scale(1, 1);	
}

.hero-button:focus::after ,  .hero-button.focused::after{
	opacity: 0;	
	transform: scale(0.1, 1);
}

.hero-button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
	color: black;
	background-color: rgba(245,68,81,0.6);
}

.hero-button:active , .hero-button.actived  {
	color: #fff;
}

.hero-button:active::before , .hero-button.actived::before {
	opacity: 0;	
}

.hero-button:active::after {
	opacity: 1;	
	color: var( --color-variables-white);
	background-color: rgba(245,68,81,0.5); 
	box-shadow: .1rem .1rem rgb(245,68,81,0.2) ;
	outline: none;
	transition: all .2s ease-in-out;
	transform: translate( .15rem, .15rem );
}

.hero-button.actived::after {
	opacity: 1;	
	color:color: var( --color-variables-white);
	background-color: rgba(245,68,81,0.5); 
	box-shadow: .1rem .1rem rgb(245,68,81,0.2) ;
	outline: none;
}

   /*normal button */

.normal-button , .normal-button:visited {
    background: var( --color-variables-light-coral ); /*#F54451;*/
    border-radius: 0.14em;
    color: var( --color-primary-golden ); /*#F9BE02;*/
    display: inline-block;
    font-family: var( --font-secondary ) ; /*'Oswald', Arial ,sans-serif; */
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 0.09em;
    margin-left: 2em;
    margin-top: 2em;
    min-width:5.25rem;
    padding: .75rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
}

.normal-button::before {
	border-bottom: 0.3em solid rgb(245,68,81,0.5);
	content: ' ';
	position: absolute; /*what position absolute does */
	top: calc(50% - .15em);
    transform: scale(0.1, 1);
    transition: all 0.1s ease-in-out 0.1s ;
    visibility: hidden;
    width: calc(100% - 2rem);
} 

.normal-button:hover , .normal-button:focus ,.normal-button.focus , .normal-button.hover  {
	background-color: var( --color-primary-golden ); /* #F9BE02;*/
	color:  var( --color-variables-light-coral ); /*#F54451;*/	
    transition: all 0.5s ease-in-out 0.1s ;
	letter-spacing:2px;
}


.normal-button:hover::before , .normal-button:focus::before , .normal-button.hover::before , .normal-button.focus::before {
	transform: scale(1,1);
	visibility: visible;
}

.normal-button.hover::before , .normal-button.focus::before {
	width: calc(100% - 3rem);

}

.normal-button:active::before , .normal-button.clicked::before {
	visibility: hidden;
}

.normal-button:active , .normal-button.clicked{
	background-color: rgb(245,68,81,0.5); 
	box-shadow: .1rem .1rem rgb(245,68,81,0.2) ;
	outline: none;
	transition: all .2s ease-in-out;
	transform: translate( .15rem, .15rem );
	color: var( --color-variables-white);
}


/* tertiary */

.tertiary-button , .tertiary-button:visited {
    color: var( --color-grey-primary-grey ); /*#32322C;*/
    display: inline-block;
    font-family: var( --font-primary ) ; /*'Oswald', Arial ,sans-serif;*/
    font-size: 1.4em;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.07em;
    margin-left: 2em;
    margin-top: 2em;
    padding: .75rem 1rem;
    position: relative;
    text-align: center;
    text-transform: none;   
}

.tertiary-button::before {
	content: ' ';
	border-bottom:0.3em solid rgb(245,68,81,0.5);
	position: absolute;
	outline: none;
    /*z-index: 1;*/
    visibility: hidden;
    top: calc(50% - .25em);
    transition: all 0.1s ease-in-out 0.1s ;
    transform: scale(0.1, 1);
    width: calc(100% - 2rem);
	
}



.tertiary-button:hover ,.tertiary-button.hover ,.tertiary-button:focus ,.tertiary-button.focus{
	color: var( --color-grey-primary-grey ); /*#32322C;*/
	letter-spacing:1.5px;
	

}
.tertiary-button:hover::before  , .tertiary-button.hover::before , .tertiary-button:focus::before ,.tertiary-button.focus::before ,.tertiary-button.clicked::before  {
	transform: scale(1,1);
	visibility: visible;
}


.tertiary-button:active::before  {
	opacity:1; /*why visibity hidden is not working fast */
	transform: scale(0.01,1);
}

.tertiary-button:active , .tertiary-button.clicked{
	/*background-color: rgb(87,87,82,0.5);*/
	box-shadow: .1rem .1rem rgb(87,87,82,0.3);
	outline: none;
	transition: all .2s ease-in-out;
	transform: translate( .15rem, .15rem );
	color: var(--color-grey-primary-grey);
	text-shadow:.1rem .1rem rgb(87,87,82,0.3);
	
}

.normal-button-example figcaption {
	display:block;
	padding-top: 1em;
}

.tertiary-button-example figcaption {
	display:block;
	padding-top: 1em;
}



/* ==========================================================================
    accordians
   ======================================================================== */



details {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1.9rem;
  max-width: 40em;
  min-height: 5px;
  padding: 2.8rem 4.59rem 2.8rem 2.8rem; /*45px 70px 45px 45px;*/
  position: relative;
  text-transform: none;
  transition: all .3s;
}

details:hover , details.hover{
	background-color: rgb(142,225,220,0.4);
}

details div {
	padding: 1rem 0;
}

details p {
  color: var( --color-grey-primary-grey );
  font-family: var( --font-primary ); /*'Raleway', Arial ,sans-serif;*/ 
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.05rem;
  margin-top: -1px;
  text-transform: none;
}

details + details {
  margin-top: 0.5rem;
}

details[open] {
  background-color: var(--color-variables-smoke-white); /*#f6f7f8;*/
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  max-height:19.5em;
  min-height: 2.5em;
}

summary {
  cursor: pointer;
  font-weight: 400;
  margin-top: -21px;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: url(images/downarrow.png);
  padding: 1.3rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s ease;
}

details[open] summary::after {
  content: url(images/delete.png);
  top: 0;
  transform: translateY(0);
  transition: .3s ease;

}

details[open] summary:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* ==========================================================================
   Modal
   ========================================================================== */

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
    
  }
}

/*@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}*/
@keyframes sketchIn {
	0% {
		stroke-dashoffset: 778;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

/*@keyframes sketchOut {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 778;
	}
}*/
@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background: -webkit-linear-gradient(110deg, #F54451 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #FAC930 70%, #8EE1DC 70%);
    background: -o-linear-gradient(110deg, #F54451 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #FAC930 70%, #8EE1DC 70%);
    background: -moz-linear-gradient(110deg, #F54451 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #FAC930 70%, #8EE1DC 70%);
    background: linear-gradient(110deg, #F54451 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #FAC930 70%, #8EE1DC 70%);
    /*
    background: -webkit-linear-gradient(70deg, #F54451  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #FAC930 60%, #8EE1DC 60%);
    background: -o-linear-gradient(70deg, #F54451  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #FAC930 60%, #8EE1DC 60%);
    background: -moz-linear-gradient(70deg, #F54451  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #FAC930 60%, #8EE1DC 60%);
    background: linear-gradient(70deg, #F54451  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #FAC930 60%, #8EE1DC 60%);*/
  }
}

/*@keyframes modalFadeOut {
  0% {
    background-color:white;
    border-top: 0.3rem solid rgb(245,68,81);
  }
  100% {
    background-color:transparent;
  }
}*/

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

/*@keyframes modalContentFadeOut {
  0% {
    opacity:1;
    top:0px;
  }
  100% {
    opacity:0;
    top:-20px;
  }
}*/


dialog[open] {
	animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	background-color:transparent;
	border-radius: 0.8rem;
	border:none;
     /*max-height:50%;*/
	max-width: 50%;
	min-height: 25%;
	min-width: 21%;
	padding: 0;
	text-transform: none;
    
}
dialog[open]::backdrop {
	animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	background:rgba(0,0,0,.0);
      
}

dialog[open] h2 , dialog[open] p {
	opacity: 0;
	position:relative;
    animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal-svg rect{
	animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	stroke: rgb(255,81,92,0.7);
          /*stroke-width: 2px;
          stroke-dasharray: 750;
          stroke-dashoffset: 100;*/
    stroke-dasharray: 778;
  	stroke-dashoffset: 778;
	
}
/*dialog {
	animation: modalFadeOut .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	background-color:transparent;
	border-radius: 0.8rem;
    
}
dialog::backdrop{
	animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	background:rgb(255,81,92,0.7);
      
}
dialog h2 , dialog p {
	animation: modalContentFadeOut .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	opacity: 0;
	position:relative;
    
}*/

.modal-svg {
        border-radius:0.8rem;
        height:90%;
        left:0;
        position:absolute;
        top:0;
        width:97%;
}
/*.modal-svg rect {
	stroke: rgb(255,81,92,0.7);
          /*stroke-width: 2px;
          stroke-dasharray: 750;
          stroke-dashoffset: 100;
          stroke-dasharray: 778;
  		stroke-dashoffset: 778;
          
        }

#modal-demo{
	border:none;
     /*max-height:50%;
     max-width: 50%;
     min-height: 25%;
     min-width: 21%;
     padding: 0;
     text-transform: none;

}*/
dialog h2 {
	/*background: rgb(250,201,48,0.5) ; /*rgb(245,68,81,0.2);
	/*font-family: var( --font-secondary ); Oswald', Arial ,sans-serif;
	box-shadow: 0rem 0.15rem 0.1rem rgb(250,201,48,0.7) , inset 0px 0px 0.1rem rgb(250,201,48,0.7);
	
	color: white ;
	font-size: var(--size-xlarge);*/
	font-weight: 200;
	letter-spacing: 0.3rem;
	margin-top: 0;
	padding:2rem;
	text-align: center;
}
dialog p {
	font-size: var(--size-small); /*change to var value */
	font-weight: 200;
	line-height: 1.5rem;
	margin-top: 0;
	min-width: 21%;
	padding: 0 2rem 2rem;	
}

dialog[open] h2::after {
  bottom:61%;
  content: url(images/close.svg);
  position:absolute;
  right:2%;
  transform: translateY(0);
  transition: .3s ease;
}
dialog h2:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
} 


/* ==========================================================================
   Layout
   ========================================================================== */


.main-content { 	
	max-width: 35.5rem; /*set it to 480px becasue of mobile first design*/


}

.typeface-styles {
	border-radius: 12px;
	background-color: var( --color-variables-white ); /*#FFFFFF*/
	box-shadow: 0px 0px 3.1px var( --color-variables-light-grey );
	margin-bottom: 0.7em;
	padding: 0.1rem 0;
}




